.tree-node {
	&__row {
		display: flex;
		align-items: center;
		gap: 6px;

		min-height: 36px;
		padding-right: 8px;

		color: var(--clr-text-accent);
		border-radius: var(--br-sm);
		cursor: pointer;
		user-select: none;

		@include breakpoint('lg') {
			min-height: 28px;
		}

		&:hover {
			background-color: var(--clr-text-hover);
			color: var(--clr-text);
		}

		&--active {
			background-color: var(--clr-text-active);
			color: var(--clr-text-accent);
		}
	}

	&__icon {
		display: flex;
		align-items: center;

		color: ivory;
	}

	&__folder-icon,
	&__file-icon {
		flex-shrink: 0;
		color: ivory;

		&:hover {
			color: magenta;
		}
	}

	&__name {
		flex: 1;
		overflow: hidden;

		font-size: var(--fs-default);
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 2px;

		margin-left: auto;

		button {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 2rem;
			height: 2rem;

			background-color: maroon;
			color: var(--clr-text-accent);
			border-radius: var(--br-sm);
			cursor: pointer;

			@include breakpoint('lg') {
				width: 20px;
				height: 20px;
			}

			&:hover {
				background-color: red;
				color: var(--clr-text);
			}
		}
	}
}
