.sidebar-footer {
	display: flex;
	align-items: center;

	min-height: 4rem;

	border-top: var(--bw-thin) solid var(--clr-border);

	@include breakpoint('lg') {
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2rem;
		height: 2rem;

		color: var(--clr-text-accent);
		border-radius: var(--br-md);
		cursor: pointer;

		@include breakpoint('lg') {
			width: 24px;
			height: 24px;

			border-radius: var(--br-sm);
		}

		&:hover {
			background-color: gold;
			color: var(--clr-text);
		}
	}
}
