.sidebar {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	overflow: hidden;

	@include breakpoint('lg') {
		width: 220px;
		min-width: 220px;
		border: var(--bw-normal) solid var(--clr-border);
	}
}
