.sidebar {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
	overflow: hidden;

	@include breakpoint('lg') {
		width: 20rem;
		min-width: 220px;
		border: var(--bw-thin) solid var(--clr-border);
	}
}
