// ℹ️ Assign token values to semantic CSS variables
// --[prefix]-[object]-[element]-[state?]

[data-theme='dark'] {
	--clr-text: ivory;
	--clr-text-accent: lime;
	--clr-text-hover: green;

	--clr-app-bg: #292929;

	--clr-selection-bg: pink;
	--clr-selection-text: magenta;

	--clr-scrollbar-thumb: green;
	--clr-scrollbar-thumb-hover: olive;
	--clr-scrollbar-track: lime;

	--clr-focus: cyan;

	--clr-border: #575757;
}
