// ℹ️ Assign token values to semantic CSS variables
// --[prefix]-[object]-[element]-[state?]

[data-theme='dark'] {
	--clr-text: ivory;
	--clr-text-accent: lime;
	--clr-text-active: seagreen;
	--clr-text-hover: green;

	--clr-app-bg: #292929;

	--clr-selection-bg: pink;
	--clr-selection-text: magenta;

	--clr-scrollbar-thumb: green;
	--clr-scrollbar-thumb-hover: olive;
	--clr-scrollbar-track: lime;

	--clr-focus: cyan;

	--clr-border: #575757;

	--clr-sidebar-bg: ;
	--clr-sidebar-actions-text: ;
	--clr-sidebar-actions-text-hover: ;
	--clr-sidebar-actions-bg: ;
	--clr-sidebar-actions-bg-hover: ;
	--clr-sidebar-node-text: ;
	--clr-sidebar-node-text-hover: ;
	--clr-sidebar-node-text-active: ;
	--clr-sidebar-node-bg: ;
	--clr-sidebar-node-bg-hover: ;
	--clr-sidebar-node-bg-active: ;
}
