// ℹ️ Assign token values to semantic CSS variables
// --[prefix]-[object]-[element]-[state?]

[data-theme='dark'] {
	--clr-text: ;
	--clr-text-accent: ;
	--clr-text-hover: ;

	--clr-app-bg: seagreen;

	--clr-selection-bg: ;
	--clr-selection-text: ;

	--clr-scrollbar-thumb: ;
	--clr-scrollbar-thumb-hover: ;
	--clr-scrollbar-track: ;

	--clr-focus: ;

	--clr-border: red;
}
