.app {
	position: relative;

	display: flex;
	gap: var(--sp-2);

	width: 100%;
	height: 100dvh;
	overflow: hidden;

	padding: var(--sp-2);

	&--sidebar {
		> :last-child {
			display: none;
		}

		@include breakpoint('lg') {
			> :last-child {
				display: flex;
			}
		}
	}

	&--editor {
		> :first-child {
			display: none;
		}

		@include breakpoint('lg') {
			> :first-child {
				display: flex;
			}
		}
	}
}
