.editor-preview {
	flex: 1;
	overflow-y: auto;
	padding: var(--sp-2);

	color: var(--clr-text);
	font-family: var(--ff-primary);
	font-size: var(--fs-default);
	line-height: var(--lh-normal);

	&__inner {
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
		padding: var(--sp-2);

		@include breakpoint('lg') {
			padding: var(--sp-4);
		}
	}

	@include breakpoint('lg') {
		padding: var(--sp-3);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--clr-text);
		font-weight: var(--fw-bold);
		line-height: var(--lh-tight);

		margin-top: 24px;
		margin-bottom: 4px;

		&:first-child {
			margin-top: 0;
		}

		+ p {
			margin-top: 8px;
		}
	}

	p {
		margin-bottom: 8px;
		color: var(--clr-text);
	}

	a {
		color: var(--clr-text-accent);
		text-decoration: underline;

		&:hover {
			color: var(--clr-text);
		}
	}

	strong {
		font-weight: var(--fw-bold);
	}
	em {
		font-style: italic;
	}

	code {
		padding: 2px 6px;

		font-family: var(--ff-mono);
		font-size: 0.875em;

		background-color: var(--clr-hover);
		border-radius: var(--br-xs);
	}

	pre {
		padding: 12px 16px;
		margin-bottom: 12px;
		overflow-x: auto;

		background-color: var(--clr-hover);
		border-radius: var(--br-md);

		code {
			padding: 0;
			background: none;
		}
	}

	ul {
		padding-left: 24px;
		margin-bottom: 12px;
		list-style: disc;
	}

	ol {
		padding-left: 24px;
		margin-bottom: 12px;
		list-style: decimal;
	}

	li {
		margin-bottom: 4px;
		color: var(--clr-text);

		> ul {
			list-style: circle;
			margin-bottom: 0;
		}

		> ol {
			list-style: lower-alpha;
			margin-bottom: 0;
		}
	}

	blockquote {
		padding-left: 16px;
		margin-bottom: 12px;

		color: var(--clr-text-accent);
		border-left: 2px solid var(--clr-border);
	}

	hr {
		margin: 24px 0;
		border: none;
		border-top: 1px solid var(--clr-border);
	}

	img {
		max-width: 100%;
		border-radius: var(--br-md);
	}

	table {
		width: 100%;
		margin-bottom: 12px;
		border-collapse: collapse;

		th,
		td {
			padding: 8px 12px;
			border: 1px solid var(--clr-border);
			text-align: left;
		}

		th {
			font-weight: var(--fw-medium);
			background-color: var(--clr-hover);
		}
	}
}
