.sidebar-header {
	display: flex;
	align-items: center;
	justify-content: center;

	order: 1;

	border-bottom: 1px solid var(--clr-border);

	@include breakpoint('lg') {
		min-height: 4rem;
		order: 0;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: var(--sp-1);
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2rem;
		height: 2rem;

		background-color: firebrick;
		color: var(--clr-text-accent);
		cursor: pointer;

		&:hover:not(:disabled) {
			background-color: tomato;
			color: var(--clr-text);
		}

		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
}
